* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #382c60;
  color: white;
  display: flex;
}

.title {
  position: absolute;
  width: 200px;
  align-items: center;
  justify-content: center;
  left: 45%;
  top: 22%;
  font-size: large;
}

.logout {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  width: 45px;
  color: white;
}
.logout:after {
  content: "";
  position: absolute;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  bottom: 20px;
  height: 2px;
  width: 45px;
  background: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 500ms ease;
}
.logout:hover:after {
  transform: scaleX(1);
}
