* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../image/login_back.png");

  .login-form  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    height: 575px;
    box-shadow: 0px 0px 30px #41366c;
  }
  .image-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
  }
  .non-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #4e3f7c;
    h1 {
      font-size: 50px;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 70px ;
    }
  }
  .input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;

    Input {
      width: 75%;
      padding: 15px .8em .8em;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 30px;
      font-size: 18px;
      color: white;
      outline: none;
    }

    label {
      position: absolute;
      left: 40px;
      top: -2px;
      font-size: 14px;
      color: white;
    }
  }
  .btn-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      background: #4e3f7c;
      font-size: 20px;
      color: white;
      border: 2px solid white;
      font-weight: bold;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}

